

#content {
    max-width: 600px;
    margin: 25px auto;
    padding: 55px 75px;
    border: 1px solid #ccc;
}

h2 {
    text-align: center;
    font-size: 28px;
    letter-spacing: 2px;
    margin-bottom: 8px;
}

h3 {
    color: rgb(0, 110, 182);
    font-size: 10px;
    text-align: center;
    letter-spacing: 3px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

p {
    line-height: 1.6;
    margin-bottom: 18px;
}

.intro {
    font-style: italic;
    font-weight: bold;
}

ol {
    padding-left: 35px;
}

ol li {
    margin-bottom: 15px;
    line-height: 1.6;
    padding-left: 5px;
}

img {
    display: block;
    margin: 45px auto 0;
    width: 110px;
}

body.light {
    background-color: white;
    color: black;
}

body.dark {
    background-color: #121212;
    color: white;
}