
#content {
    max-width: 1600px;
    margin: 0 auto;
}

body {
    background-color: #684ce4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

header {
    background-color: rgba(20, 30, 13, 0.7);
}

footer {
    background-color: #333;
    padding: 25px 50px;
    margin-top: 200px;
}

nav a {
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: black;
    color: #d9c2a3;
}

#hero-msg h1,
#hero-msg h4,
.button-box,
main section {
    text-align: center;
}

.home-title {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 2em;
    margin-top: 10px;
}

.book,
.join {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover,
.join:hover {
    background-color: #000;
    color: #d9c2a3;
}

#background {
    height: 725px;
    background-color: #d9c2a3;
}

.msg {
    background-color: #ffffff;
    padding: 35px;
    line-height: 1.5em;
}

.msg h2 {
    font-family: Georgia, "Times New Roman", serif;
}

.msg p {
    color: #000;
    font-size: 0.8em;
    padding-bottom: 15px;
}

.rivers-card,
.camping-card,
.rapids-card {
    margin: 200px 0;
}

footer p {
    font-size: 1.2em;
    color: #ffffff;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    color: #d9c2a3;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

.logo {
    width: 80px;
    padding-top: 5px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.card-img {
    border: 10px solid #d9c2a3;
}

main section img {
    box-sizing: border-box;
}

#hero-img {
    width: 100%;
}