header{
    background-color: #2A80E2;
    min-height: 140px;
    width: 100%;
    padding-bottom:20px;
    color: white;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    
    
}
h1{
    padding-top: 3%;
    margin: 0;
    
}
.menu{
    display: block;
    color: white;
    font-size: 150%;
    margin-top: 20px;

}
nav {
    display: none;
  
    
}
nav.show {
display: flex;
flex-direction: column;
gap: 10px;
}

a{
   
   margin-top: 5px;
   color:white
   
}
body{
    background-color: #C2C2C2;
    text-align: center;
}

.pics{
    display: grid;
    grid-template-columns:  repeat(1, 1fr);
    gap: 20px;
    margin: 20px auto;
    padding: 30px;
    border-width: 1px;
    border-color: white;
    
}

.pics img{
    object-fit: cover;
    width: 100%; 
    height: auto;
    border: 5px solid white;
    box-shadow: 0 4px 8px black;
    
    
    
}
dialog img {
    width: 50%;
    display: block;
    margin: 20vh auto;
}

dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75); 
}
.close {
    position: absolute;
    top: 16%;
    right: 23%;
    padding: 3px 6px;
    font-size: 1.5em;
}
footer{
    background-color: #2A80E2;
    height: 100px;
    width: 100%;
    
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (min-width: 700px) {

    .pics{
        grid-template-columns: 1fr 1fr;
    }
    .menu{
        display: none;
    }
    nav{
        display: flex;
        gap: 15%;
        margin-top: 5px;
        font-size: 20px;
        justify-content: center;
        
    }
    nav.show{
        display: none;
    }
}


@media screen and (min-width: 1000px) {

    .pics{
        grid-template-columns: 1fr 1fr 1fr;
    }
    nav{
        gap: 17%;
        
    }
}
          